html, body{
    color: white;
    background-color: #21232a;
    font-family: "helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding: 50px;
}
button{
    font-size: 1.3rem;
    margin-right: 10px;
    padding: 10px;

}